body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

h1, h2 {
    color: #333;
}
.blockquoteP {
    font-size: small;

}

.about-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 20px; 
}

.section-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1; 
    min-width: 280px; 
    max-width: 350px; 
    text-align: center;
}

.section-card h2 {
    margin-top: 0;
    color: #007bff; 
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .about-sections {
        flex-direction: column;
        align-items: center;
    }
    .section-card {
        max-width: 90%; /* Adjust max width for smaller screens */
    }
}